In [1]:
import pandas as pd

In [3]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 1004-C407

 Directory of C:\Users\vijay\OneDrive\Desktop\Data_Science\Python_Classes

04/28/2022  07:01 PM    <DIR>          .
04/28/2022  07:01 PM    <DIR>          ..
04/28/2022  11:24 AM    <DIR>          .ipynb_checkpoints
02/16/2022  12:24 PM    <DIR>          __pycache__
04/13/2022  03:03 PM            20,039 13th_Feb_mogngodb.ipynb
02/02/2022  02:48 PM            22,955 15th_Jan.ipynb
02/01/2022  10:16 PM            15,272 15th_jan_Logging.ipynb
01/24/2022  01:26 PM            53,959 19Th_Dec_Fun_Practice_Prob.ipynb
04/19/2022  02:16 PM            48,584 20th_Feb_SQL_Lite.ipynb
02/07/2022  08:38 PM            13,415 22_Jan_22.ipynb
02/16/2022  12:22 PM            15,574 23_jan_01.ipynb
02/16/2022  12:39 PM             2,640 23_jan_02.ipynb
02/23/2022  12:20 PM            17,068 29_jan.ipynb
03/20/2022  11:22 AM            69,008 5th_feb_SQL.ipynb
03/24/2022  07:03 PM           556,171 6th_Feb_SQL.ipynb
01/13/2022  12:46 PM            30,008 8th_Jan_22.ipynb
01/23/2022  07:49 PM            16,792 9th_Jan.ipynb
03/24/2022  07:38 PM            51,867 car.data
03/08/2022  12:17 PM            11,903 glass (1).data
01/24/2022  12:24 PM             5,060 google.txt
04/15/2022  01:49 PM             8,192 ineuron.db
04/18/2022  01:00 PM             5,176 Join_Tale_Operation_SQLite.ipynb
04/18/2022  11:26 AM            12,288 joindb.db
04/18/2022  11:37 AM             8,720 joindb.db-journal
04/18/2022  12:54 PM             1,321 Joint_Table_Operating_SQLite.ipynb
04/18/2022  12:22 PM            12,288 jointable.db
04/18/2022  12:39 PM            12,824 jointable.db-journal
04/03/2022  08:33 PM            57,313 mongodb class 1.ipynb
02/04/2022  08:02 PM               223 my_module.py
02/04/2022  08:01 PM               219 my_module.py.bak
02/16/2022  12:23 PM               655 mydict.py
02/16/2022  12:21 PM                 0 mydict.py.bak
04/28/2022  07:01 PM            36,659 Pandas_26th_Feb.ipynb
04/15/2022  02:13 PM                 0 person.db
04/15/2022  02:16 PM             8,192 pesron.db
04/18/2022  11:10 AM             4,616 pesron.db-journal
04/28/2022  01:18 PM               173 sample_test.csv
03/08/2022  12:22 PM            80,353 SQL basic .ipynb
03/24/2022  06:45 PM           358,223 sql day 2 .ipynb
02/02/2022  02:46 PM             4,053 test.log
01/26/2022  11:50 AM                16 test.txt
02/04/2022  01:56 PM               187 test1.py
02/04/2022  01:53 PM               187 test1.py.bak
02/01/2022  07:37 PM                23 test1.txt
02/01/2022  09:57 PM                 0 test2.log
02/04/2022  01:48 PM                 0 test2.py
01/24/2022  10:39 AM                20 test2.txt
01/24/2022  10:39 AM                23 test3.txt
02/01/2022  07:37 PM                 0 test43.txt
01/23/2022  08:24 PM                85 test5
01/24/2022  10:39 AM                65 test5.txt
03/28/2022  12:47 PM            64,527 Untitled.ipynb
              48 File(s)      1,626,936 bytes
               4 Dir(s)  89,694,212,096 bytes free

In [4]:
pd.read_csv('sample_test.csv')

      name             email_id   address  pincode     sirname
0     vijay     vijay@gmail.com      pune      123       patil
1   shradha   shradha@gmail.com      pune      123       patil
2  vrushali  vrushali@gmail.com  kolhapur      234  shirasekar

In [5]:
pd.read_csv(r'C:\Users\vijay\Downloads\ohana-api-master\data\sample-csv\locations.csv')

,id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
0,1,1,"disabled_parking, ramp, restroom, wheelchair",NaN,NaN,A walk-in center for older adults that provide...,NaN,"Spanish, Tagalog",37.477227,-122.213221,Fair Oaks Adult Activity Center,A multipurpose senior citizens' center serving...,SAMTRANS stops in front.,NaN,False
1,2,1,wheelchair,NaN,NaN,Provides training and job placement to eligibl...,NaN,"Chinese (Mandarin), Tagalog, Italian, Spanish",37.563984,-122.325799,Second Career Employment Program,Provides training and job placement to eligibl...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
2,3,1,NaN,NaN,NaN,Offers supportive counseling services to San M...,NaN,"Chinese (Cantonese), Chinese (Mandarin), Tagal...",37.563984,-122.325799,Senior Peer Counseling,Offers supportive counseling services to older...,Service is provided in person's home or at a m...,NaN,False
3,4,1,wheelchair,NaN,NaN,Provides supervised visitation services and a ...,NaN,Spanish,37.563984,-122.325799,Family Visitation Center,Provides supervised visitation services and a ...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
4,5,1,wheelchair,NaN,NaN,Provides fixed 8% short term loans to eligible...,NaN,"Hindi, Spanish",37.563984,-122.325799,Economic Self - Sufficiency Program,Makes small loans to working families.,SAMTRANS stops within 1 block. CALTRAIN stops ...,NaN,False
5,6,2,"disabled_parking, wheelchair",NaN,NaN,A multipurpose center offering a wide variety ...,NaN,"Tagalog, Spanish",37.448020,-122.180590,Little House,A multipurpose senior citizens' center.,"SAMTRANS stops within 3 blocks, RediWheels and...",NaN,False
6,7,2,"ramp, restroom, disabled_parking, wheelchair",NaN,NaN,Rosener House is a day center for older adults...,NaN,"Spanish, Tagalog, Vietnamese",37.444178,-122.183093,Rosener House Adult Day Services,A day center for adults age 50 or over.,Transportation can be arranged via Redi-Wheels...,NaN,False
7,8,2,NaN,NaN,NaN,Delivers a hot meal to the home of persons age...,NaN,Spanish,37.448020,-122.180590,Meals on Wheels - South County,Will deliver a hot meal to the home of persons...,Not necessary for service.,NaN,False
8,9,3,"ramp, restroom, wheelchair",NaN,NaN,"Provides general reading material, including b...",NaN,Spanish,37.478502,-122.214143,Fair Oaks Branch,Provides general reading materials and referen...,SAMTRANS stops in front.,NaN,False
9,10,3,"elevator, tape_braille, ramp, restroom, disabl...",NaN,NaN,"Provides general reading and media materials, ...",NaN,Spanish,37.483842,-122.227395,Main Library,Provides general reference and reading materia...,SAMTRANS stops within 1 block; CALTRAIN stops ...,NaN,False
10,11,3,ramp,NaN,NaN,"Provides general reading materials, including ...",NaN,NaN,37.466553,-122.243090,Schaberg Branch,Provides general reading materials and referen...,SAMTRANS stops within 1 block.,NaN,False
11,12,3,"disabled_parking, elevator, ramp, restroom",ohana@gmail.com,NaN,Offers an intergenerational literacy program f...,NaN,NaN,37.483842,-122.227395,Project Read,Offers an intergenerational literacy program f...,SAMTRANS stops within 1 block.,NaN,False
12,13,3,NaN,NaN,NaN,"Provides general reading materials, including ...",NaN,NaN,37.530423,-122.258643,Redwood Shores Branch,Provides general reading materials and referen...,NaN,NaN,False
13,14,4,wheelchair,NaN,NaN,"Provides food, clothing, bus tokens and shelte...",NaN,Spanish,37.491386,-122.231568,Redwood City Corps,Provides a variety of emergency services to lo...,SAMTRANS stops nearby.,NaN,False
14,15,4,wheelchair,NaN,NaN,Provides a long-term (6-12 month) residential ...,NaN,Spanish,37.748899,-122.420367,Adult Rehabilitation Center,Long-term (6-12 month) residential treatment p...,"MUNI - 26 Valencia, Mission Street lines.",NaN,False
15,16,4,NaN,NaN,NaN,Provides emergency assistance including food a...,NaN,Korean,37.356900,-122.060002,Sunnyvale Corps,Provides emergency assistance to persons in im...,VTA stops within 4 blocks.,NaN,False
16,17,4,wheelchair,NaN,NaN,"Provides emergency food, clothing and furnitur...",NaN,NaN,37.644590,-122.422490,South San Francisco Citadel Corps,Provides emergency food and clothing and furni...,"SAMTRANS stops within 1 block, BART stops with...",NaN,False
17,18,5,"cd, restroom, wheelchair",NaN,NaN,Provides free medical care to those in need. O...,NaN,Spanish,37.468614,-122.206798,Redwood City Free Medical Clinic,Provides free medical care to those in need.,SAMTRANS stops within 2 blocks.,http://www.samaritanhouse.com,False
18,19,5,"elevator, ramp, wheelchair",NaN,NaN,Provides free medical and dental care to those...,NaN,Spanish,37.532694,-122.293124,San Mateo Free Medical Clinic,Provides free medical and dental care to those...,SAMTRANS stops within 1 block.,http://www.samaritanhouse.com,False
19,20,6,NaN,NaN,NaN,no phone,NaN,NaN,NaN,NaN,Location with no phone,no phone,NaN,NaN,True
20,21,7,"elevator, restroom",NaN,NaN,This is a description,NaN,NaN,37.529194,-122.287161,Admin Test Location,This is a short description,SAMTRANS stops within 1/2 mile.,NaN,False
21,22,8,"disabled_parking, restroom, wheelchair",foo@bar.com,The Test Spot,[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,info@example.org,"Cantonese, Russian, Spanish, Tagalog, Taiwanese",37.772640,-122.409915,Example Location,[NOTE THIS IS NOT A REAL ENTRY--THIS IS FOR TE...,SAMTRANS stops within 1 block,http://www.example.org,False

In [6]:
pd.read_csv("taxonomy.csv")

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [7]:
df = pd.read_csv("taxonomy.csv")

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 1004-C407

 Directory of C:\Users\vijay\OneDrive\Desktop\Data_Science\Python_Classes

04/28/2022  07:29 PM    <DIR>          .
04/28/2022  07:29 PM    <DIR>          ..
04/28/2022  11:24 AM    <DIR>          .ipynb_checkpoints
02/16/2022  12:24 PM    <DIR>          __pycache__
04/13/2022  03:03 PM            20,039 13th_Feb_mogngodb.ipynb
02/02/2022  02:48 PM            22,955 15th_Jan.ipynb
02/01/2022  10:16 PM            15,272 15th_jan_Logging.ipynb
01/24/2022  01:26 PM            53,959 19Th_Dec_Fun_Practice_Prob.ipynb
04/19/2022  02:16 PM            48,584 20th_Feb_SQL_Lite.ipynb
02/07/2022  08:38 PM            13,415 22_Jan_22.ipynb
02/16/2022  12:22 PM            15,574 23_jan_01.ipynb
02/16/2022  12:39 PM             2,640 23_jan_02.ipynb
02/23/2022  12:20 PM            17,068 29_jan.ipynb
03/20/2022  11:22 AM            69,008 5th_feb_SQL.ipynb
03/24/2022  07:03 PM           556,171 6th_Feb_SQL.ipynb
01/13/2022  12:46 PM            30,008 8th_Jan_22.ipynb
01/23/2022  07:49 PM            16,792 9th_Jan.ipynb
03/24/2022  07:38 PM            51,867 car.data
03/08/2022  12:17 PM            11,903 glass (1).data
01/24/2022  12:24 PM             5,060 google.txt
04/15/2022  01:49 PM             8,192 ineuron.db
04/18/2022  01:00 PM             5,176 Join_Tale_Operation_SQLite.ipynb
04/18/2022  11:26 AM            12,288 joindb.db
04/18/2022  11:37 AM             8,720 joindb.db-journal
04/18/2022  12:54 PM             1,321 Joint_Table_Operating_SQLite.ipynb
04/18/2022  12:22 PM            12,288 jointable.db
04/18/2022  12:39 PM            12,824 jointable.db-journal
04/03/2022  08:33 PM            57,313 mongodb class 1.ipynb
02/04/2022  08:02 PM               223 my_module.py
02/04/2022  08:01 PM               219 my_module.py.bak
02/16/2022  12:23 PM               655 mydict.py
02/16/2022  12:21 PM                 0 mydict.py.bak
04/28/2022  07:29 PM            42,820 Pandas_26th_Feb.ipynb
04/15/2022  02:13 PM                 0 person.db
04/15/2022  02:16 PM             8,192 pesron.db
04/18/2022  11:10 AM             4,616 pesron.db-journal
04/28/2022  01:18 PM               173 sample_test.csv
03/08/2022  12:22 PM            80,353 SQL basic .ipynb
03/24/2022  06:45 PM           358,223 sql day 2 .ipynb
04/28/2022  07:14 PM            14,618 taxonomy.csv
02/02/2022  02:46 PM             4,053 test.log
01/26/2022  11:50 AM                16 test.txt
02/04/2022  01:56 PM               187 test1.py
02/04/2022  01:53 PM               187 test1.py.bak
02/01/2022  07:37 PM                23 test1.txt
02/01/2022  09:57 PM                 0 test2.log
02/04/2022  01:48 PM                 0 test2.py
01/24/2022  10:39 AM                20 test2.txt
01/24/2022  10:39 AM                23 test3.txt
02/01/2022  07:37 PM                 0 test43.txt
01/23/2022  08:24 PM                85 test5
01/24/2022  10:39 AM                65 test5.txt
03/28/2022  12:47 PM            64,527 Untitled.ipynb
              49 File(s)      1,647,715 bytes
               4 Dir(s)  89,390,272,512 bytes free

In [10]:
pd.read_csv("taxonomy.csv",header=None)

,0,1,2,3
0,taxonomy_id,name,parent_id,parent_name
1,101,Emergency,NaN,NaN
2,101-01,Disaster Response,101,Emergency
3,101-02,Emergency Cash,101,Emergency
4,101-02-01,Help Pay for Food,101-02,Emergency Cash
...,...,...,...,...
286,111-01-07,Workplace Rights,111-01,Advocacy & Legal Aid
287,111-02,Mediation,111,Legal
288,111-03,Notary,111,Legal
289,111-04,Representation,111,Legal
290,111-05,Translation & Interpretation,111,Legal

In [12]:
pd.read_csv("taxonomy.csv",names=['a','b','c','d'])

# we have given own column name

,a,b,c,d
0,taxonomy_id,name,parent_id,parent_name
1,101,Emergency,NaN,NaN
2,101-01,Disaster Response,101,Emergency
3,101-02,Emergency Cash,101,Emergency
4,101-02-01,Help Pay for Food,101-02,Emergency Cash
...,...,...,...,...
286,111-01-07,Workplace Rights,111-01,Advocacy & Legal Aid
287,111-02,Mediation,111,Legal
288,111-03,Notary,111,Legal
289,111-04,Representation,111,Legal
290,111-05,Translation & Interpretation,111,Legal

In [13]:
pd.read_csv("taxonomy.csv",names=['a','b','c','d','e'])

# if we give extra column name it will be empty

,a,b,c,d,e
0,taxonomy_id,name,parent_id,parent_name,NaN
1,101,Emergency,NaN,NaN,NaN
2,101-01,Disaster Response,101,Emergency,NaN
3,101-02,Emergency Cash,101,Emergency,NaN
4,101-02-01,Help Pay for Food,101-02,Emergency Cash,NaN
...,...,...,...,...,...
286,111-01-07,Workplace Rights,111-01,Advocacy & Legal Aid,NaN
287,111-02,Mediation,111,Legal,NaN
288,111-03,Notary,111,Legal,NaN
289,111-04,Representation,111,Legal,NaN
290,111-05,Translation & Interpretation,111,Legal,NaN

In [14]:
pd.read_csv("taxonomy.csv",names=['a','b','c'])

# and if we give less no. of column it will print as you have given

                                        a          b                     c
taxonomy_id                          name  parent_id           parent_name
101                             Emergency        NaN                   NaN
101-01                  Disaster Response        101             Emergency
101-02                     Emergency Cash        101             Emergency
101-02-01               Help Pay for Food     101-02        Emergency Cash
...                                   ...        ...                   ...
111-01-07                Workplace Rights     111-01  Advocacy & Legal Aid
111-02                          Mediation        111                 Legal
111-03                             Notary        111                 Legal
111-04                     Representation        111                 Legal
111-05       Translation & Interpretation        111                 Legal

[291 rows x 3 columns]

In [15]:
pd.read_csv("sample_test.csv")

      name             email_id   address  pincode     sirname
0     vijay     vijay@gmail.com      pune      123       patil
1   shradha   shradha@gmail.com      pune      123       patil
2  vrushali  vrushali@gmail.com  kolhapur      234  shirasekar

In [25]:
pd.read_csv("sample_test_01.csv",sep = '@')

                        name   address  pincode     sirname
vijay    vijay     gmail.com      pune      123       patil
shradha  shradha   gmail.com      pune      123       patil
vrushali vrushali  gmail.com  kolhapur      234  shirasekar

In [29]:
pd.read_csv("sample_test.csv")

              name |email_id|address|pincode|sirname
0               vijay|vijay@gmail.com|pune|123|patil
1           shradha|shradha@gmail.com|pune|123|patil
2  vrushali|vrushali@gmail.com|kolhapur|234|shira...

In [30]:
pd.read_csv("sample_test.csv",sep = '|')

# separate a data with your own symbol

      name             email_id   address  pincode     sirname
0     vijay     vijay@gmail.com      pune      123       patil
1   shradha   shradha@gmail.com      pune      123       patil
2  vrushali  vrushali@gmail.com  kolhapur      234  shirasekar

In [33]:
pd.read_csv("sample_test.csv",sep = '|',skiprows=[1 ])

# this skip the rows that you mention

      name             email_id   address  pincode     sirname
0   shradha   shradha@gmail.com      pune      123       patil
1  vrushali  vrushali@gmail.com  kolhapur      234  shirasekar

In [35]:
df1 = pd.read_csv("services.csv")

In [37]:
df1.dtypes

# it shows data type of all column and object is nothing but string here

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [38]:
     df1

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,None,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
6,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
7,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
8,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
10,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
11,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
12,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
13,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
14,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
15,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
16,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN
17,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [40]:
df1.head(2)

# this give you a top two sample record as we mention head(2)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN

In [41]:
df1.tail(3)

# this is showing last 3 records

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [42]:
df1.columns

# showing all the columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [45]:
a = df1['name']
# this showing perticular column which you want

In [46]:
type(a)

pandas.core.series.Series

In [53]:
 df1[["name",'location_id','id']]
    
# this is for showing multiple column

                                    name  location_id  id
0        Fair Oaks Adult Activity Center            1   1
1       Second Career Employment Program            2   2
2                 Senior Peer Counseling            3   3
3               Family Visitation Center            4   4
4      Economic Self-Sufficiency Program            5   5
5   Little House Recreational Activities            6   6
6       Rosener House Adult Day Services            7   7
7         Meals on Wheels - South County            8   8
8                       Fair Oaks Branch            9   9
9                           Main Library           10  10
10                       Schaberg Branch           11  11
11                          Project Read           12  12
12                 Redwood Shores Branch           13  13
13                    Redwood City Corps           14  14
14           Adult Rehabilitation Center           15  15
15                       Sunnyvale Corps           16  16
16     South San Francisco Citadel Corps           17  17
17                         Project Smile           18  18
18         San Mateo Free Medical Clinic           19  19
19             Service with blank fields           20  20
20       Service for Admin Test Location           21  21
21                       Passport Photos           22  22
22                  Example Service Name           22  23

In [54]:
 b = df1[["name",'location_id','id']]

In [55]:
type(b)

pandas.core.frame.DataFrame

In [56]:
type(df1[["name"]])
# it always return datatye is dataframe bcz we are passing column name as a list

pandas.core.frame.DataFrame

# Operation With Excel file

In [2]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 1004-C407

 Directory of C:\Users\vijay\OneDrive\Desktop\Data_Science\Python_Classes

04/29/2022  11:52 AM    <DIR>          .
04/29/2022  11:52 AM    <DIR>          ..
04/28/2022  11:24 AM    <DIR>          .ipynb_checkpoints
02/16/2022  12:24 PM    <DIR>          __pycache__
04/13/2022  03:03 PM            20,039 13th_Feb_mogngodb.ipynb
02/02/2022  02:48 PM            22,955 15th_Jan.ipynb
02/01/2022  10:16 PM            15,272 15th_jan_Logging.ipynb
01/24/2022  01:26 PM            53,959 19Th_Dec_Fun_Practice_Prob.ipynb
04/19/2022  02:16 PM            48,584 20th_Feb_SQL_Lite.ipynb
02/07/2022  08:38 PM            13,415 22_Jan_22.ipynb
02/16/2022  12:22 PM            15,574 23_jan_01.ipynb
02/16/2022  12:39 PM             2,640 23_jan_02.ipynb
02/23/2022  12:20 PM            17,068 29_jan.ipynb
03/20/2022  11:22 AM            69,008 5th_feb_SQL.ipynb
03/24/2022  07:03 PM           556,171 6th_Feb_SQL.ipynb
01/13/2022  12:46 PM            30,008 8th_Jan_22.ipynb
01/23/2022  07:49 PM            16,792 9th_Jan.ipynb
03/24/2022  07:38 PM            51,867 car.data
03/08/2022  12:17 PM            11,903 glass (1).data
01/24/2022  12:24 PM             5,060 google.txt
04/15/2022  01:49 PM             8,192 ineuron.db
04/18/2022  01:00 PM             5,176 Join_Tale_Operation_SQLite.ipynb
04/18/2022  11:26 AM            12,288 joindb.db
04/18/2022  11:37 AM             8,720 joindb.db-journal
04/18/2022  12:54 PM             1,321 Joint_Table_Operating_SQLite.ipynb
04/18/2022  12:22 PM            12,288 jointable.db
04/18/2022  12:39 PM            12,824 jointable.db-journal
04/29/2022  11:52 AM           161,651 LUSID Excel - Business Agility - Making Simple Changes Quickly & Easily.xlsx
04/29/2022  11:52 AM           161,410 LUSID Excel - Maintain a product in multiple currencies and share classes.xlsx
04/29/2022  11:52 AM            95,503 LUSID Excel - Manage instruments with economic definitions.xlsx
04/29/2022  11:52 AM            84,319 LUSID Excel - Manage Orders.xlsx
04/29/2022  11:52 AM           137,753 LUSID Excel - Manage your investment strategies.xlsx
04/29/2022  11:52 AM           184,013 LUSID Excel - Setting up your IBOR.xlsx
04/29/2022  11:52 AM           136,632 LUSID Excel - Setting up your market data.xlsx
04/03/2022  08:33 PM            57,313 mongodb class 1.ipynb
02/04/2022  08:02 PM               223 my_module.py
02/04/2022  08:01 PM               219 my_module.py.bak
02/16/2022  12:23 PM               655 mydict.py
02/16/2022  12:21 PM                 0 mydict.py.bak
04/29/2022  11:44 AM           147,544 Pandas_26th_Feb.ipynb
04/15/2022  02:13 PM                 0 person.db
04/15/2022  02:16 PM             8,192 pesron.db
04/18/2022  11:10 AM             4,616 pesron.db-journal
04/28/2022  08:43 PM               173 sample_test.csv
04/28/2022  01:18 PM               173 sample_test.csv.bak
04/28/2022  08:38 PM               163 sample_test_01.csv
04/28/2022  08:55 PM            19,128 services.csv
03/08/2022  12:22 PM            80,353 SQL basic .ipynb
03/24/2022  06:45 PM           358,223 sql day 2 .ipynb
04/28/2022  07:14 PM            14,618 taxonomy.csv
02/02/2022  02:46 PM             4,053 test.log
01/26/2022  11:50 AM                16 test.txt
02/04/2022  01:56 PM               187 test1.py
02/04/2022  01:53 PM               187 test1.py.bak
02/01/2022  07:37 PM                23 test1.txt
02/01/2022  09:57 PM                 0 test2.log
02/04/2022  01:48 PM                 0 test2.py
01/24/2022  10:39 AM                20 test2.txt
01/24/2022  10:39 AM                23 test3.txt
02/01/2022  07:37 PM                 0 test43.txt
01/23/2022  08:24 PM                85 test5
01/24/2022  10:39 AM                65 test5.txt
03/28/2022  12:47 PM            64,527 Untitled.ipynb
              59 File(s)      2,733,184 bytes
               4 Dir(s)  87,395,622,912 bytes free

In [4]:
pd.read_excel('LUSID Excel - Manage Orders.xlsx',sheet_name= 'Allocations')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,This sheet allows you to manage Allocations:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1. ListAllocations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2. GetAllocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3. UpsertAllocations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,MyAllocation001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,MyAllocation002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df2 = pd.read_excel("LUSID Excel - Manage Orders.xlsx")

In [6]:
df2.keys()

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18'],
      dtype='object')

In [8]:
df3 = pd.ExcelFile("LUSID Excel - Manage Orders.xlsx")

In [9]:
df3.sheet_names

# it shows the whatever sheet is available

['Executions', 'Orders', 'Allocations', 'Placements', 'Blocks']

In [13]:
pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

# here we reading data without download by using online URL

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q